.tasks-section {
  align-items: center;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 15rem;
  max-width: 700px;
  padding: 20px;
  transition: 0.3s;
}

.tasks-section:hover {
  box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.2);
}
